In [12]:
pip install panda

Requirement already satisfied: panda in c:\users\shyam\anaconda3\lib\site-packages (0.3.1)
Requirement already satisfied: requests in c:\users\shyam\anaconda3\lib\site-packages (from panda) (2.24.0)
Requirement already satisfied: setuptools in c:\users\shyam\anaconda3\lib\site-packages (from panda) (49.2.0.post20200714)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\shyam\anaconda3\lib\site-packages (from requests->panda) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\shyam\anaconda3\lib\site-packages (from requests->panda) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shyam\anaconda3\lib\site-packages (from requests->panda) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\shyam\anaconda3\lib\site-packages (from requests->panda) (1.25.9)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import numpy as np

In [21]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [22]:
name = ['Ashay', 'Himanshu', 'Padam', 'Ravi', 'Arun', 'Naveen', 'Akshay', 'Ram', 'Gokul', 'Rio']
age = [22,23,24,25,28,26,27,29,30,31]

data = {'Name':name,'Age':age}
print(data)

df = pd.DataFrame(data)
df

{'Name': ['Ashay', 'Himanshu', 'Padam', 'Ravi', 'Arun', 'Naveen', 'Akshay', 'Ram', 'Gokul', 'Rio'], 'Age': [22, 23, 24, 25, 28, 26, 27, 29, 30, 31]}

       Name  Age
0     Ashay   22
1  Himanshu   23
2     Padam   24
3      Ravi   25
4      Arun   28
5    Naveen   26
6    Akshay   27
7       Ram   29
8     Gokul   30
9       Rio   31

In [24]:
df = name[3:5]