In [1]:
# Pandas_Pre_Processing

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([0, 1, 2, 3, 4, 5,np.nan, 6, 7, 8])
data

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    NaN
7    6.0
8    7.0
9    8.0
dtype: float64

In [4]:
#to detect missing values
data.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [5]:
# Detect existing (non-missing) values.
data.notnull()

0     True
1     True
2     True
3     True
4     True
5     True
6    False
7     True
8     True
9     True
dtype: bool

In [6]:
# creating a dataframe
dict1 = {
    0:[1,4,7,np.nan],
    1:[2,5,np.nan,np.nan],
    2:[3,np.nan,np.nan,np.nan],
    3:[np.nan,np.nan,np.nan,np.nan]
}

df = pd.DataFrame(dict1)
df

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN
3  NaN  NaN  NaN NaN

In [7]:
#drops an entire row if one nan value is present
df.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [8]:
# deletes the rows in which all the values are null
df.dropna(how='all')

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN

In [9]:
# deletes the columns in which all the values are null
df.dropna(axis=1, how='all')

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  NaN
2  7.0  NaN  NaN
3  NaN  NaN  NaN

In [10]:
# threshold Require that many 'non-nan' values.
df.dropna(thresh=1)

     0    1    2   3
0  1.0  2.0  3.0 NaN
1  4.0  5.0  NaN NaN
2  7.0  NaN  NaN NaN

In [11]:
# to fill the null value

In [12]:
df_fill = df.fillna(10)
df_fill

      0     1     2     3
0   1.0   2.0   3.0  10.0
1   4.0   5.0  10.0  10.0
2   7.0  10.0  10.0  10.0
3  10.0  10.0  10.0  10.0